/**
 * Taskbar:
 * `.taskbar` - documentation on what your
 * component is goes here. Markdown is encouraged.
 *
 *     @example
 *     include app/js/directives/taskbar/taskbar.jade
 */

$taskbar-height: 70px;

.taskbar {
    height: $taskbar-height;
    line-height: $taskbar-height;
    background-color: $color-white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);

    .taskbar-container {
        max-width: $repsonsive-max-width;
        margin: 0 auto;
    }

    .taskbar-logo {
        margin-right: $spacing-4;
        width: 200px;
    }

    .taskbar-main-menu {
        border-right: 1px solid $color-gray-extra-light;

        li {
            float: left;
        }

        .taskbar-main-menu-item {
            float: left;
            height: $taskbar-height;
            line-height: $taskbar-height;
            padding: 0 $spacing-2;
            color: $color-gray-dark;

            &:hover {
                background: #3498db;
                background: -moz-linear-gradient(top,  #3498db 0%, #2ecc71 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3498db), color-stop(100%,#2ecc71));
                background: -webkit-linear-gradient(top,  #3498db 0%,#2ecc71 100%);
                background: -o-linear-gradient(top,  #3498db 0%,#2ecc71 100%);
                background: -ms-linear-gradient(top,  #3498db 0%,#2ecc71 100%);
                background: linear-gradient(to bottom,  #3498db 0%,#2ecc71 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2ecc71',GradientType=0 );

                box-shadow: inset 0 0 8px rgba(0, 0, 0, .32);
                color: $color-white;
                text-shadow: 1px 1px rgba(0, 0, 0, .3);
            }
        }
    }
}