.parallax{
  width:100%;
  height:570px;
  overflow: hidden;
  display: block;
}
.parallax .small-info{
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    top: 37%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.parallax .small-info h3{
    max-width: 790px;
    margin: 0 auto;
    line-height: 1.4;
}
.parallax .parallax-image img{
    width: 100%;
    position: relative;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
   .parallax .small-info {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 5px;
    font-size: 20px !important ;
   }
}

.section-title{
    font-weight: 300;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    color: #999;
}

.section-gray {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.home{
    padding-top: 70px;

    .section-features-1{
         .info .icon{
             background: transparent;
         }
         .icon i{
            color: #2ca8ff;
            font-size: 80px;
         }
         .icon [class*="pe-7s-"]{
             width: auto;
             height: auto;
         }
    }
}

.filter-black{
    position: relative;
}
.filter-black:after{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-color: rgba(0,0,0,.66);
    content: "";
}

.space-50{
    height: 50px;
    display: block;
}
.space{
    height: 100px;
    display: block;
}