<div class="parallax filter-black">
    <div class="parallax-image">
        <img src="/img/about_5.jpg">
    </div>
    <div class="small-info">
        <h1>Crowdfunding free software, one issue at time</h1>
        <h3>Place money bounties for  <mark>Free</mark> and <mark>Open Source</mark> project issues.</h3>

        <div class="space-50"></div>

        <a href="#/issue/create" class="btn btn-success btn-lg btn-fill">Create issue</a>
    </div>
</div>

<div class="section section-description">
    <div class="container">
        <h2 class="section-title">Description</h2>

        <div class="row">
            <div class="col-md-6">
                <h5>Easy to integrate</h5>
                <p>
                    Creative Tim stands for everything a designer looks in his work: clean, functions interfaces for great products. The number of friends with similar attitude can only increase over time, since the vision for a better web is a wish of many designers. </p>
                </p>Be sure to enroll and browse around for anything that may bring extra value to your project and ask Tim wherever you see something missing. </p>

            </div>
            <div class="col-md-6">
                <div class="img-container">
                    <img src="/img/home_1.png" alt="">
                </div>
            </div>
        </div>

        <div class="space-50"></div>
        <hr>
        <div class="space-50"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="img-container">
                    <img src="/img/home_4.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <h5>Fast Development</h5>
                <p>
                    Creative Tim stands for everything a designer looks in his work: clean, functions interfaces for great products. The number of friends with similar attitude can only increase over time, since the vision for a better web is a wish of many designers. </p>
                </p>Be sure to enroll and browse around for anything that may bring extra value to your project and ask Tim wherever you see something missing. </p>

            </div>
        </div>
    </div>
</div><!-- section -->

<div class="section section-features-1">
    <div class="container">
        <h2 class="section-title">Features</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon">
                        <i class="pe-7s-clock"></i>
                    </div>
                    <div class="description">
                        <h5> Save Time </h5>
                        <p class="text-muted">Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon">
                        <i class="pe-7s-scissors"></i>
                    </div>
                    <div class="description">
                        <h5> Fast Prototyping </h5>
                        <p class="text-muted">Create hundreds of items combinations within seconds and present them to your client.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon">
                        <i class="pe-7s-science"></i>
                    </div>
                    <div class="description">
                        <h5> Unleash Creativity </h5>
                        <p class="text-muted">The large amount of components with the color variations will make you create an amazing web design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- section -->

<div class="social-line social-line-black">
    <div class="container">
        <div class="space-50"></div>
        <div class="row text-center">
            <h4 class="title">Create a issue right now!</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>

            <div class="col-md-offset-5 col-md-2">
                <a href="#/issue/create" class="btn btn-fill btn-success">
                    Create issue
                </a>
            </div>
            </div>
        </div>
        <div class="space-50"></div>
    </div>
</div>