<div class="section section-gray">
    <div class="container">
        <div class="row">
            <div class="modal-small">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Login with</h4>
                        </div>
                        <div class="modal-body">
                            <div class="social-area">
                                <a href="" class="btn btn-round btn-fill btn-social btn-github">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="" class="btn btn-round btn-fill btn-social btn-google">
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                            </div>
                            <span class="divider"> or </span>

                            <div class="form-group">
                                <input type="text" value="" placeholder="Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="password" value="" placeholder="Password" class="form-control" />
                            </div>
                            <button type="button" class="btn btn-info btn-fill btn-block"> Login </button>
                        </div>
                        <div class="modal-footer">
                            <span class="text-muted">Looking <a href="#/signup">to create an account</a> ?</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>