include ./includes/header.jade

main(ng-controller='homeCtrl')
    taskbar

    section
        h1 Crowdfunding free software, one issue at time
        p Place money bounties for Free and Open Source project issues.

    section
        p about

include ./includes/footer.jade

